body {
    width: 100vw;
    overflow-x: hidden;
}

.cc {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    max-width: 100vw !important;
    width: 100vw !important;
}
/* banner */
.banner img{
    width: 100%;
}

.dropdown-content {
    display: none;
    transition: all 1s ease !important;
    opacity: 0% !important;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}


.dropdown-content a:hover {
    width: 85% !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transform: translateX(0%) !important;
}



.dropdown:hover .dropdown-content {
    display: block;
    transition: all 1s ease !important;
    opacity: 100% !important;
    justify-content: flex-start;
    align-items: center;

}

#fanpagelink {
    color: #462857;
    text-decoration: underline;
}

#fanpagelink:hover {
    color: #254A95;
    text-decoration: none;
}

.card {
    transition: all 0.6s ease;
    padding: 10px !important;
    margin: 12px !important;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #254A95;
}

#curationinfo a {
    font-size: 10pt;
}

.event .caption .caption-content .h2,
.mb-0 {
    font-weight: 800 !important;
}

.event .caption .caption-content img {
    width: 50%;
    min-width: 120px;
    transition: all 0.8s ease;
}

.event .caption .caption-content {
    transition: all 0.8s ease;
    padding: 4rem;
}

.event .caption .caption-content:hover {
    padding: 2rem;
}

.event .caption .caption-content:hover #img1 {
    transform: translateX(50%);
}

.event .caption .caption-content:hover #img2 {
    transform: translateX(-50%);
}

.event .caption #capl:hover .h2 {
    color: #254A95 !important;
}

.event .caption #capb {
    box-shadow: 1px 10px 20px rgba(10, 10, 10, 0.1), 2px 2px 10px rgba(10, 10, 10, 0.1), 1px 1px 30px rgba(10, 10, 10, 0.1);
}

.event .caption #capb:hover  {
    padding: 4rem !important;
    box-shadow: 1px 3px 10px rgba(10, 10, 10, 0.2), 1px 4px 5px rgba(10, 10, 10, 0.1), 1px 1px 3px rgba(10, 10, 10, 0.1);
}

.event .caption .caption-content:hover #img3 {
    width: 36%;
}

.event .caption .caption-content:hover p {
    color: #C34E75 !important;
    transition: all 0.6s ease;

}

.event .caption #capr {

    background-color: rgba(200, 200, 200, 0.5);
    border-top: 8px solid #462857;
}

.event .caption #capr:hover {
    border: 2px solid #254A95;
    background-color: rgba(255, 255, 255, 0);
}

.hover-hide-pr:hover .hover-hide {
    display: none;
}

.bd1 {
    position: relative !important;
        width: 50% !important;
        left: -28% !important;
        padding-bottom:  3% !important;
}

#sub-t {
    color: #eeb033
}


@media (max-width:992px) {
    .cc {
        width: 95%;
        padding-left: 30px;
    }

    #curationinfo {
        min-width: 80% !important;
    }
}


@media (max-width:768px) {
    #curationinfo {
        min-width: 98% !important;
        font-size: 14pt !important;
    }

    .bd1 {
        width: 67% !important;
        min-width: 67% !important;
        left: -8% !important;
        padding-top: 10% !important;
        padding-bottom:  3% !important;
    }
}

@media (max-width:554px) {
    .content-section-heading {
        padding: 0 !important;
    }

    #curationinfo {
        margin: 0 !important;
    }

    #pp5 {
        padding: 0 !important;
        margin-top: 6px;
    }

    header .my-auto {
        margin-top: -30px !important;
        padding-right: 0 !important;
    }
}

@media (max-width:458px) {
    #infodiv {
        padding: 0 !important;
    }

    #infosect {
        padding: 40px !important;
    }

    #curationinfo {
        font-size: 12pt !important;
    }

    header h3 {
        font-size: 20pt !important;
    }

    .event .caption #capl .h2 {
        font-size: 28pt !important;
    }

    .bd1 {
        width: 77% !important;
        min-width: 77% !important;
        left: -8% !important;
        padding-top: 10% !important;
        padding-bottom:  3% !important;
    }

}