body {
    color: #e6e6e6;
}

.container {
    position: relative;
  }


.countdown {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    color:#0d0c0c;
}

.givem {
    position: absolute;
    top: 42%;
    left: 81.5%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    color: #0d0c0c;
}

.givep {
    position: absolute;
    top: 51%;
    left: 81.5%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    color: #0d0c0c;
}


#mainNav.navbar-scrolled {
    transition: all 1s ease-in-out;
    box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 15%);
    background-color: rgba(31, 31, 31, .75);
    color: #fff;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
}

#mainNav:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    transition: all 1s ease;
}

#mainNav {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.border{
    text-align: center;
    padding: 10px;
    width: 300px;
    border-width: 20px;
}


#money {
    margin-top: 100px;
    width: 600px;
}

#demo {
    font-size: 25px;
    margin-top: 0px;
}


#people {
    border-style: groove;
    border-color: red;
}

.bigdaddy-a img {
    width: 100%;
    max-width: 100px;
    min-width: 64px;
    padding: 10px;
}



.hd {
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* unvisited link */
a:link {
    color: #fff;
  }
  
  /* visited link */
  a:visited {
    color: #e6e6e6;
  }
  
  /* mouse over link */
  a:hover {
    color: #ffe500;
  }


.chart {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: absolute;
    padding: 0 5px;
    display: flex;
    height: 50px;
    width: 100%;
    top: 70%;
}

.chart span {
    /* You can modify the value below to change the distance between the percentage number and the bar */
    margin-left: 5px;
    color: #fff;
    font-weight: bolder;
}


.bar {
    /* You can modify the total time used for the animation here */
    animation: load 3s normal forwards;
    /* 
    Add a little spice by having a shadow below the bar.
    Feel free to comment out this line below to have an even LITE version :D 
    */
    box-shadow: 0 10px 40px -10px #fff;

    border-radius: 100px;
    background: #fff;
    height: 40px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        /* You need to change the percentage below to match the value in the corresponding <span> */
        width: 0%;
    }
}



footer {
    position: absolute;
    z-index: 998;
    width: 100%;
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 800px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }

    .chart, .bar {
        height: 20px;
        width: 80%;
        top: 65%;
    }
    .givem {
        font-size: 10px;
        top: 43%;
        left: 78%;
    }
    .givep {
        font-size: 10px;
        top: 51%;
        left: 78%;
    }
  }

  
  
  /* Style the counter cards */
  .card-tin {
    box-shadow: 0 4px 8px 0 #50545a;
    padding: 16px;
    text-align: center;
    background-color: #626366;
    height: 500px;
  }